h2
    margin: 0
    font-weight: 500
    color: #0377eb
    margin-bottom: 20px

.ant-collapse
    margin-top: 10px

    .ant-collapse-header-text
        font-weight: 500
        color: #0377eb

    .ant-collapse-expand-icon
        color: #0377eb

.checkbox-container
    display: flex
    align-items: center

.top-buttons
    margin-left: auto

    .tp-main-button
        background-color: #0377EB
        color: white
        display: flex
        align-items: center
        gap: 5px
        margin-bottom: 10px
        svg
            font-size: 18px