.main-header
    display: flex
    align-items: center
    gap: 25px
    margin-bottom: 20px

    h2
        margin: 0
        font-weight: 500
        color: #0377eb

    .top-buttons
        display: flex
        align-items: center
        margin-left: auto
        gap: 10px

        .top-buttons-left
            display: flex
            align-items: center
            gap: 10px

        .tp-main-button
            background-color: #0377EB
            color: white
            display: flex
            align-items: center
            gap: 5px
            margin-bottom: 0
            svg
                font-size: 18px

        .tp-delete-button
            color: #0377eb
            display: flex
            align-items: center
            gap: 5px
            margin-bottom: 0
            svg
                font-size: 18px
